<div class="modal" [style.display]="modalState ? 'block' : 'none'" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{modalHeader}}
                <button type="button" class="close" (click)="closePopup()">×</button>
            </div>
            <div class="modal-body">
                <strong [innerHTML]="modalContent"></strong>
            </div>
            <div class="modal-footer">
                <button type="button" id="del" class="btn btn-sm btn-danger" (click)="submitPopup()">{{submitButtonName}}</button>
                <button type="button" class="btn btn-sm btn-default  btn-shadow" (click)="closePopup()">{{closeButtonName}}</button>
            </div>
        </div>
    </div>
</div>

    
      